# Rust
/target/
**/target/
**/*.rs.bk

# MacOS
.DS_Store

# IDE
.idea/

# Environment
.env

# Extra
Cargo.lock
common_res/the_viper_room/grammers_system_session/
common_res/groot_bot/current.session
common_res/agent_davon/current.session
common_res/the_viper_room/background_music.mp3
common_res/w3a/w3a_qdrant_index.json
DEV_NOTES.md
*.log
certs/
CLAUDE.md

#Groot res
common_res/groot_bot/black_listed_users.json
common_res/groot_bot/chats_list.json
common_res/groot_bot/message_counts.json
common_res/groot_bot/penalty_points.json
common_res/groot_bot/restricted_words.json
common_res/groot_bot/white_listed_users.json