# Rust
/target/
**/target/
**/*.rs.bk

# MacOS
.DS_Store

# IDE
.idea/

# Environment
.env

# Extra
config.yaml
Cargo.lock
common_res/nginx_config.conf
common_res/the_viper_room/users_count/users_count.txt
common_res/the_viper_room/grammers_system_session/
common_res/request_app/grammers_system_session/
common_res/groot_bot/current.session
common_res/the_viper_room/background_music.mp3
DEV_NOTE.md
*.log